# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx==9.1.0
sphinx_rtd_theme==3.1.0
sphinx_rtd_size==0.2.0
myst_parser==5.0.0
sphinxcontrib.bibtex==2.6.5
sphinx-copybutton==0.5.2
